$ToDo_Color:#29d6c2;
$Done_Color:#5c47b8;
$Doing_Color:#e34fe3;
$Escalated_Color:#fff133;

$Todo: #29d6c2;
$UnderProgress:#e34fe3;
$Completed:#5c47b8;
$Closed:#00b33c;
$Reassigned:#ef5643;
$Rejected:#e60000;
$AwaitingForInspection:#b063a2;
$New:#0710a6;
$Approved:#00e600;
$Escalated:#fff133;
$Draft:#907f7e;
$Cancelled:#ff0000;



$WAE_Font:Arial, Helvetica, sans-serif;
$Bg_Color:#f2f2f2;
$Font_Blue:#364c63;
$Font_Orange:#f68136;

$WAE_Button_Bg_Color:#124353;
$WAE_Button_Text_Color:white;
$WAE_Button_Icon_Color:white;
$WAE_Icon_Color:#124353;
$WAE_CheckBox_Color:#124353;

$Active_Tab_Bg_Color:#f1e9dd;
$Tab_Bg_Color:#f2f2f2;

$Div_Bg_Color:#f1e9dd;
$ToolBar_Color:#124353;

$Theme_Blue:#124353;
$Theme_Orange:#f68136;
$Theme_Orange_Accent1:#f4a36d;
$Theme_Orange_Accent2:#F2C6A5;
$Theme_Orange_Foreground:#F1E9DD;

$Theme_Bg_Color:#fff4ec;

$Theme_Blue_95:#eaf6fa;
$Theme_Blue_60:#58bada;
$Theme_Blue_InputBorder: #bfe6f3;



$Normal_Item_Color:#99ff99;
$Service_Item_Color:#eaaeae;
$OtherCharges_Item_Color:#9999ff;

$Selected_Org_Color:#ccffcc;

//Nitta Color 
$Nitta_Blue_Color:#0077b5;
$Nitta_Yellow_Color:#daaa00;
